<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Music Club - Submit, Rate and Discuss Your Favorite Albums!{% endblock %}

{% block content %}
<p>This is the main page</p>
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  {% if albumsubmissions %}
    {% for submission in albumsubmissions %}
      <div>
        <p>Round {{submission.round}}</p>
        <p>{{submission.album.title}} by {{submission.album.artist}} from {{submission.submittedBy.get_full_name}}</p>
      </div>
    {% endfor %}
  {% endif %} 
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}
