<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<p>This is the main page</p>
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  {% if albumsubmissions %}
  {% for submission in albumsubmissions %}
    <div>
      <p>{{submission.album.title}}</p>
    </div>
  {% endfor %}
  {% endif %} 
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}
